Repository gbrandalise/das-trabalho-angular, pull requests merged in 2022-02, with the labels that each got.

#75 Feat/mobile list purchase orders
  .vscode/launch.json
  README.md
  mobile/lib/client/client.model.dart
  mobile/lib/common/environment.dart
  mobile/lib/common/widgets/list-item-card.widget.dart
  mobile/lib/common/widgets/page-title.widget.dart
  mobile/lib/main.dart
  mobile/lib/product/product.model.dart
  mobile/lib/purchase-order/order-item.model.dart
  mobile/lib/purchase-order/pages/purchase-orders/purchase-orders.page.dart
  mobile/lib/purchase-order/purchase-order.model.dart
  mobile/lib/purchase-order/purchase-order.page.dart
  mobile/lib/purchase-order/services/purchase-orders.service.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#79 using env variables to connect to postgresql on heroku
  backend/src/main/resources/config/application.yml
Labels: enhancement, mobile

#80 api URL config to heroku
  frontend/src/environments/environment.prod.ts
  mobile/lib/common/environment.dart
  mobile/lib/common/widgets/list-item-card.widget.dart
Labels: enhancement, front, mobile

#81 listagem de produto
  mobile/lib/main.dart
  mobile/lib/product/pages/product.page.dart
  mobile/lib/product/product.model.dart
  mobile/lib/product/product.page.dart
  mobile/lib/product/services/product.service.dart
  mobile/pubspec.lock
Labels: mobile
